.form-container {
    width: 100%;
    max-width: 310px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

body {
    background-color: blueviolet;
}

button {
    background-color: violet;
}

.input-field {
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    background-color: white;
    text-emphasis-color: black;
}

h2,
p {
    color: black;
}

.warnings,
.error {
    color: red;
}

span {
    color: black;
}

/* learn */
.show-hide {
    position: absolute;
    top: 30%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.password-container {
    position: relative;
    width: 100%;
}

input, textarea {
    color: black;
}

input[type="text"],
textarea {
    color: black !important;
    /* Text color */
}

@media screen and (max-width: 600px) {
    .form-container {
        padding: 15px;
        border-width: 2px;
    }
}
