/* Post header with title centered */
.post-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Post title */
.post-header h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Buttons below the title */
.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.createdat {
  margin-left: 60px;
}


.edit-button,
.history-button {
  padding: 8px 16px;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

