.post-img {
    width: 500px;
    height: 500px;
}

.post-details {
    text-align: center;
}

.createdat {
    margin-left: 400px;
}

.post-details button{
    margin-top: 40px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.post-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.edit-button {
  margin-right: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.post-header h3 {
    margin-left: 600px;
}